.homeContainer{
    height: auto;
    /* border: 3px solid cyan; */

}
.news{
    margin: 3rem auto;
    /* border: 2px solid darkblue; */
    /* height: 100%; */
}
.news h3{
    text-align: center;
    font-size: 2rem;


}
.news p{
    text-align: center;
    font-size: 1.325rem;
}